<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    {% block head %}
    <title>{% block title %}Coverage Server{% endblock title %}</title>
    {% endblock head %}
</head>
<script src="https://unpkg.com/htmx.org@2.0.3"></script>
<body>
    {% block nav %}
    <nav>
        <ol>
            <li><a href="/">Home</a></li>
        </ol>
    </nav>
    {% endblock nav %}
    <div id="content">{% block content %}{% endblock content %}</div>
    <div id="footer">
        {% block footer %}
        Some footer
        {% endblock footer %}
    </div>
</body>

</html>