<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />

        <link rel="stylesheet" href="/assets/index.css" />
        <script defer src="/assets/index.js"></script>

        {% block head %}
        <title>{% block title %}Coverage Server{% endblock title %}</title>
        {% endblock head %}
    </head>
    <body class="bg-light-primary text-light-secondary transition dark:bg-dark-primary dark:text-dark-secondary">
        {% block nav %}
        <nav>
            <ol>
                <li><a href="/">Home</a></li>
            </ol>
        </nav>
        {% endblock nav %}
        <main class="flex flex-col items-center gap-2">
            {% block content %}{% endblock content %}
        </main>
        <div id="footer">{% block footer %} {% endblock footer %}</div>
    </body>
</html>
