{% extends "base.html" %}
{% block content %}
<table class="table-auto rounded-lg border-2 mx-auto w-3/4">
    <tr>
        <th class="bg-slate-400 border border-slate-600 rounded-tl-lg">Line</th>
        <th class="bg-slate-400 border border-slate-600">Branch</th>
        <th class="bg-slate-400 border border-slate-600">Exec</th>
        <th class="bg-slate-400 border border-slate-600 w-3/4 rounded-tr-lg" align="left">Source</th>
    </tr>
    {% for line in source_lines %}
    <tr>
        <td class="bg-slate-500 border border-slate-600"><a id="l{{line.line_number}}" href="#l{{line.line_number}}">{{line.line_number}}</a></td>
        <td class="bg-slate-500 border border-slate-600">
        {% if line.linebranchtotal > 0 %}
            <details class="linebranchDetails">
                <summary class="linebranchSummary">{{line.linebranchtaken}}/{{line.linebranchtotal}}</summary>
                <div class="linebranchContents">
                    {% for branch in line.branches %}
                    {% if branch.excluded %}
                    <div class="excludedBranch">&ndash; Branch excluded.</div>
                    {% elif branch.count > 0 %}
                    <div class="takenBranch">&check; Branch taken {{branch.count}} times.</div>
                    {% else %}
                    <div class="notTakenBranch">&cross; Branch not taken.</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </details>
        {% endif %}
        </td>
        <td class="bg-slate-500 border border-slate-600">placeholder</td>
        <td class="bg-slate-500 pl-8 whitespace-pre w-3/4">{{line.source}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
