{% extends "base.html" %}
{% block content %}
    <h1>{{owner}} Summary</h1>
    <table class="table-auto rounded-lg border-2 mx-auto w-3/4">
        <thead>
            <tr>
                <th rowspan="2" class="bg-slate-400 border rounded-tl-lg border-slate-600">Repository</th>
                <th rowspan="2" colspan="3" class="bg-slate-400 border rounded-tr-lg border-slate-600">Latest Coverage</th>
            </tr>
            <tr></tr>
            <tr hx-get="/summaries" hx-trigger="load, input delay:500ms" hx-include="this" hx-target="#summaries">
                <td class="bg-slate-500 border border-slate-700 pl-4"><input type="text" name="repo" value="" placeholder="Filter..." class="bg-transparent"></td>
                <th class="bg-slate-400 border border-slate-600">Branch</th>
                <th class="bg-slate-400 border border-slate-600">Function</th>
                <th class="bg-slate-400 border border-slate-600">Line</th>
            </tr>
        </thead>
        <tbody id="summaries">
        </tbody>
    </table>
{% endblock content %}
