{% extends "base.html" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th rowspan="2">Type</th>
                <th rowspan="2">Name</th>
                <th colspan="3">Coverage Summary</th>
            </tr>
            <tr>
                <th>Branch</th>
                <th>Function</th>
                <th>Line</th>
            </tr>
        </thead>
        <tbody>
            {% for file in files %}
            <tr>
                <td>placeholder3</td>
                {% if file.is_dir %}
                    <td><a href="/{{owner}}/{{repo}}/tree/{{commit}}{{path}}/{{file.name}}">{{file.name}}</td>
                {% else %}
                    <td><a href="/{{owner}}/{{repo}}/blob/{{commit}}{{path}}/{{file.name}}">{{file.name}}</td>
                {% endif %}
                <td>placeholder0</td>
                <td>placeholder1</td>
                <td>placeholder2</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
